<div class="zoom">
  <a class="zoom-fab zoom-btn-large" id="zoomBtn"><i class="icon fa fa-bars" aria-hidden="true"></i></a>
  <ul class="zoom-menu">
      <li>
        <a href="assets/files/resume.pdf" data-toggle="tooltip" title="Download Resume" class="zoom-fab zoom-btn-sm zoom-btn-resume scale-transition scale-out" download>
          <i class="icon fa fa-file" aria-hidden="true">
          </i>
        </a>
      </li>
      <li>
        <a data-toggle="tooltip" title="Blog !" class="zoom-fab zoom-btn-sm zoom-btn-blog scale-transition scale-out" onclick="showSnackBar()">
          <i class="icon fa fa-rss" aria-hidden="true">
          </i>
        </a>
      </li>
      <li>
        <a data-toggle="tooltip" title="Work !" class="zoom-fab zoom-btn-sm zoom-btn-work scale-transition scale-out" onclick="showSnackBar()">
          <i class="icon fa fa-cogs" aria-hidden="true">
          </i>
        </a>
      </li>
  </ul>
</div>
