<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skills">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#timeline">Timeline</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <div class="header" id="particles-js">
        <div class="container">
            <div class="intro-text">
              <div class="into-image">
                <img src="assets/img/main.png" class="img-responsive img-circle" alt="" width="180" height="180" style="margin:0 auto;">
              </div>
                <div class="intro-lead-in">Hi, I'm {{site.data.template.text.developer-name}} !</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <div class="intro-text-typewriter">I am a </div>
                <a href="#about" class="page-scroll down-arrow"><i class="icon fa fa-angle-double-down fa-custom fa-4x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
